.heading{
    background-color: #454a52;

}

.intro{
    font-size: 30px;
    color: #ffffff;
}

.education{
    font-size: 25px;
    color: #ffffff;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
}