{% extends "layout.html" %}

{% block title %}
    Stock History
{% endblock %}

{% block main %}
        <div class="mb-3">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Stock</th>
                        <th>Symbol</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Time</th>
                    </tr>
                </thead>
                {% for one_stock in stock%}
                <tr>
                    <td>{{one_stock.name}}</td>
                    <td>{{one_stock.price}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}
