{% extends "layout.html" %}

{% block title %}
    Stock History
{% endblock %}

{% block main %}
        <div class="mb-3">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Stock</th>
                        <th>Symbol</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Time</th>
                        <th>Transaction Type</th>
                    </tr>
                </thead>
                {% for stock in stock_history %}
                <tr>
                    <td>{{stock.stock_name}}</td>
                    <td>{{stock.stock_symbol}}</td>
                    <td>{{stock.stock_count}}</td>
                    <td>{{stock.price}}</td>
                    <td>{{stock.time}}</td>
                    <td>{{stock.transaction_type}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}
