{% extends "layout.html" %}

{% block title %}
    Stock History
{% endblock %}

{% block main %}
        <div class="mb-3">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Stock</th>
                        <th>Symbol</th>
                        <th>Quantity</th>
                        <th>Price per stock</th>
                        <th>Total Value</th>
                    </tr>
                </thead>
                {% for stock in stock_history %}
                <tr>
                    <td>{{stock.stock_name}}</td>
                    <td>{{stock.stock_symbol}}</td>
                    <td>{{stock.stock_count}}</td>
                    <td>{{stock.each_stock}}</td>
                    <td>{{stock.current_price}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{total_stock_value}}</td>
                </tr>
            </table>
            <p>Current Cash Balance = {{cash}}</p>
            <p>Total Value of Stocks and Cash Balance = {{ total_stock_value + cash}}</p>
        </div>
{% endblock %}
